@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
  font-family: "Manrope", sans-serif;
  padding: 32px 16px;
  background-color: #F3D9FF;
}

@media screen and (min-width: 1024px) {
  body{
    padding: 32px;
  }
  
}

